.conda
grassdata/
__pycache__/
data/queenstown_lakes_building_outlines
data/shotover_country

# Rasters
*.tif
*.tfw
*.vrt
*.xml
*.aux
*.aux.aux.xml
*.tif.aux.xml

# Vectors/shapes
*.cpg
*.dbf
*.prj
*.shp
*.shx

# Other data formats
*.csv
*.gpkg

# OSX
.DS_Store
