.conda
grassdata/
__pycache__/

# Rasters
*.tif
*.tfw
*.vrt
*.xml
*.aux
*.aux.aux.xml
*.tif.aux.xml

# Vectors/shapes
*.cpg
*.dbf
*.prj
*.shp
*.shx

# Exclude all data except quickstart example
src/data/**
!src/data/queenstown_lakes_building_outlines/*
!src/data/shotover_country/*

# Other data formats
*.csv
*.gpkg
*.DS_Store

# Dependency manager agnostic
*.lock

# Package manager things
build/
.venv/
*.egg-info