.conda
grassdata/
__pycache__/

# Rasters
*.tif
*.tfw
*.vrt
*.xml
*.aux
*.aux.aux.xml
*.tif.aux.xml

# Vectors/shapes
*.cpg
*.dbf
*.prj
*.shp
*.shx

# Exclude all data except quickstart example
!data/inputs/building_outlines/district_QueenstownLakes/*
!data/inputs/DSM/suburb_ShotoverCountry/*
!data/inputs/building_outlines/suburb_MolesworthStation/*
!data/inputs/DEM/suburb_MolesworthStation/*
!data/inputs/DSM/suburb_MolesworthStation/*
!data/**/.gitignore

# Other data formats
*.csv
*.gpkg
*.DS_Store

# Dependency manager agnostic
*.lock

# Package manager things
build/
.venv/
*.egg-info